* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Garamond", serif;
}

.banner {
    height: 75px;
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
  }
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: flex;
    align-items: center;
    color: #D82148;
    padding: 0 0 0 10px;
    font-size: 25px;
    float: left;
}

.logo a {
    display: flex;
    align-items: center;
    color: #D82148;
    padding: 0 0 0 10px;
    font-size: 25px;
    float: left;
    text-decoration: none;
}

.logo img {
    width: 50px;
    margin-right: 0;
    padding: 10px 0;
}

nav {
    float: right;
    margin-right: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #0d173b;
    font-size: 20px;
}

nav a:hover {
    color: gray;
}



.logout {
    align-items: center;
    text-align: center;
    font-family: "Garamond", serif;
    text-decoration: none;
    border: none;
    background-color: lightblue;
}


.sidenav {
    margin-top: 75px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d173b;
    overflow-x: hidden;
    padding-top: 0;
  }
  
.sidenav a, .dropdown-btn {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Garamond", serif;
    color: #DADBBD;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
  
.sidenav a:hover, .dropdown-btn:hover {
    color: #ffffff;
}
  
.main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
}
  
.active {
    background-color: #78938A;
    color: white;
}
  
.dropdown-container {
    display: none;
    background-color: #6EBF8B;
    padding-left: 8px;
    
}

.dropdown-container a {
    color: #0d173b;
}
  
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.left {
    margin-left: 400px;
    float: left;
}

.right {
    margin-right: 150px;
    float: right;
}

.box1 {
    background-color: #DADBBD;
    color: #0d173b;
    width: 300px;
    height: 300px;
    border: 8px solid #0d173b;
    padding: 25px;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.box2 {
    background-color: #DADBBD;
    color: #0d173b;
    width: 300px;
    height: 300px;
    border: 8px solid #0d173b;
    padding: 25px;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.box3 {
    background-color: #DADBBD;
    color: #0d173b;
    width: 300px;
    height: 300px;
    border: 8px solid #0d173b;
    padding: 25px;
    margin-top: 100px;
    
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.box4 {
    background-color: #DADBBD;
    color: #0d173b;
    width: 300px;
    height: 300px;
    border: 8px solid #0d173b;
    padding: 25px;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.button {
    background-color: #DADBBD;
    color: #0d173b;
    font-size: 50px;
    border: none;
    font-family: "Garamond", serif;
    text-decoration: none; 
}

.button a {
    background-color: #DADBBD;
    color: #0d173b;
    font-size: 50px;
    border: none;
    font-family: "Garamond", serif;
    text-decoration: none; 
}

.invalid option {
    color: gray;
}

h1 {
    text-align: center;
    margin-left: 250px;
    margin-top: 100px;
    font-size: 50px;
}

table {
    text-align: left;
    margin-left: 250px;
    margin-right: 0%;
    width: 82.6%;
    height: 100%;
    font-size: 25px;
    background-color: lightgray;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #FFF;
}

th:nth-child(1) {
    text-align: center;
}

td:nth-child(1) {
    text-align: center;
}

.tabHeader {
    text-align: left;
}

form {
    display: flex;
}

.container {
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgba(50, 75, 75, .5);
}

.input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.submit-btn {
    width: 100px;
    height: 40px;
}

.container1 {
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.role-label {
    margin-left: 5px;
}

.search-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.form-control {
    outline: auto;
    outline-color: black;
}

.add {
    text-decoration: none;
    color: black;
}

.search {
    font-family: "Garamond", serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    color: black;
}

.search:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.btn-primary {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: lightgreen;
    transition: 0.3s;
    color: black;
}

.icon {
    text-decoration: none;
}

